.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 937px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 768px;
  margin: 45px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 769px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-1 {
  height: 505px;
  width: 756px;
  margin: 102px -30px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: -562px 23px 60px 826px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 473px;
    width: 708px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 649px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 721px;
  }

  .u-section-1 .u-image-1 {
    height: 441px;
    width: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 429px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 541px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 347px;
    width: 520px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 249px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-1 .u-image-1 {
    height: 214px;
    width: 320px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 49px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 451px;
  height: 317px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  width: 270px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 54px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 288px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 211px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 239px;
  }
}